@{
    ViewBag.Title = "Home Page";
}

<h2>Welcome at the organisation and register centre off ITPlus+.</h2>
<br/>
<p>To use this applications you need to log in.</p>
<br/>
<p>The admin user is:</p>
<p>Login: mike.sadonis&#64;student.howest.be</p>
<p>Password: 123456</p>